<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to VonPop!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/record.css" />
    <link
      href="https://unpkg.com/@vonagevolta/volta2@0.0.47/dist/css/volta.css"
      rel="stylesheet"
    />

    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <!-- import the webpage's client-side javascript file -->
    <script src="/record.js" defer></script>
  </head>
  <body>
    <div class="Vlt-container">
      <div class="Vlt-grid">
        <div class="Vlt-col Vlt-col--1of3">
          <div class="Vlt-card Vlt-card--plain Vlt-bg-black Vlt-grid left-card">
            <div class="Vlt-col Vlt-card__header selected">
              <h2>Questions</h2>
            </div>
            <div class="Vlt-col Vlt-card__header not-selected">
              <h2>Tips</h2>
            </div>
            <div class="Vlt-card__content questions selected">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div class="Vlt-card__content tips not-selected">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
        <div class="Vlt-col Vlt-col--1of2 Vlt-grid video-recorder">
          <p class="Vlt-col status">
            <svg class="Vlt-icon Vlt-icon--large Vlt-grey-darker">
              <use xlink:href="/icons.svg#Vlt-icon-rec-full" /></svg
            ><span>00:60</span><span>start</span>
          </p>
          <div class="Vlt-btn-group Vlt-col">
            <button class="Vlt-btn Vlt-btn--tertiary Vlt-btn_active">
              Landscape
            </button>
            <button class="Vlt-btn Vlt-btn--tertiary">Portrait</button>
            <button class="Vlt-btn Vlt-btn--tertiary">Squared</button>
          </div>
          <div class="Vlt-card Vlt-card--border Vlt-white Vlt-bg-red-dark" id="publisher">
          <h2>
            We need camera and microphone access
            </h2>
            <p>
              Your browser will show a popup in which you need to grant us camera and microphone access.
            </p>
            <p class="Vlt-btn Vlt-btn--destructive Vlt-btn--app Vlt-btn--large" id="start">
              Enable mic and camera
            </p>
          </div>
        </div>
        
      </div>
    </div>
    <div id="subscriber"></div>
    <div id="publisher">
      <button id="start">
        Start
      </button>
    </div>
  </body>
</html>
