body {
  background-color: #242729;
}

.Vlt-container {
  margin: 0 auto;
  padding-top: 50px;
}

.left-card,
.selected * {
  color: white;
}

.Vlt-card__header.not-selected {
  background-color: white;
}

.left-card {
  height: 581px;
}

.Vlt-card.Vlt-grid {
  display: flex;
  padding: 0;
}

.Vlt-card__header {
  height: 48px;
  padding-top: 8px;
  border-radius: 0 5px 0 0;
}

.Vlt-card__content.not-selected {
  display: none;
}

.Vlt-card__content {
  padding-left: 24px;
  padding-right: 24px;
}
