body {
  background-color: #242729;
}

.Vlt-container {
  margin: 0 auto;
  padding-top: 50px;
}

.left-card,
.selected *,
.video-recorder .status {
  color: white;
}

.Vlt-card__header.not-selected {
  background-color: white;
}

.left-card {
  height: 581px;
}

.Vlt-card.Vlt-grid {
  display: flex;
  padding: 0;
}

.Vlt-card__header {
  height: 48px;
  padding-top: 8px;
  border-radius: 0 5px 0 0;
}

.Vlt-card__content.not-selected {
  display: none;
}

.Vlt-card__content {
  padding-left: 24px;
  padding-right: 24px;
}

.video-recorder .Vlt-btn-group {
  height: 0;
}

.video-recorder .status {
  line-height: 48px;
}

.video-recorder .Vlt-col {
  height: 48px;
}

.video-recorder .Vlt-card {
  max-height: 517px;
  padding: 40px;
}

.video-recorder .status span {
  padding-right: 16px;
}
