.Vlt-container {
  margin: 0 auto;
}

.left-card, .selected * {
   color: white;
}

.not-selected {
  background-color: white;
}

.left-card {
  height: 581px;
}

.Vlt-card.Vlt-grid {
  display: flex;
}